<p id="notice"><%= notice %></p>
<div class="show_page">
  <p class="label">
    <strong>Title:</strong>
    <%= @post.title %>
  </p>

  <p>
    <strong>Article:</strong>
    <%= @post.article %>
  </p>

  <p class="label">
    <strong>Author:</strong>
    <%= @post.author %>
  </p>
</div>
<div class="show_back">
  <%= link_to 'Edit', edit_post_path(@post) %> |
  <%= link_to 'Back', posts_path %>
</div>